@model CakesMarket.Models.Model.Cake
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Add cake</title>
</head>
<body>
<div>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(model => model.Name)
            <p>@Html.EditorFor(model => model.Name)</p>
        </div>
 
        <div>
            @Html.LabelFor(model => model.Description)
            <p>@Html.EditorFor(model => model.Description)</p>
        </div>
        <p><input type="submit" value="Добавить" /></p>
}
</div>
</body>
</html>